jxr-path,
jxr-result {
  display: block;
}

table {
  -webkit-border-horizontal-spacing: unset;
  -webkit-border-vertical-spacing: unset;
}

pre {
  margin: 0px;
}

.line-number {
  text-align: right;
  padding-right: 8px;
}
