jxr-path,
jxr-result {
  display: block;
}

table {
  -webkit-border-horizontal-spacing: unset;
  -webkit-border-vertical-spacing: unset;
}

pre {
  margin: 0px;
}

.code-table {
  font-family: monospace;
}

a {
  color: unset;
  text-decoration: unset;
}

a:hover {
  text-decoration: underline;
}

.code-table .line-number {
  padding-right: 8px;
  text-align: right;
}

#search-symbol-popup {
  font-family: monospace;
  position: absolute;
  background-color: white;
  border: 2px darkgrey solid;
  padding: 5px;
}

.hide {
  display: none;
}

#stats-placeholder {
  font-family: monospace;
}

#github-placeholder {
  font-family: monospace;
  position: fixed;
  right: 30px;
  top: 50px;
  border: 2px darkgrey solid;
  padding: 5px;
}
